html, body
{
	height: 100%;
	width: 100%;
}

.form
{
	padding: 20px;
	background: #fafafa;
	margin: auto;
	height: 100%;
	width: 500px;
 }

input[type=text]{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
	padding-top: 30px;
}

input[type=submit]{
	width: 100%;
	background-color: green;
	border: none;
	height: 30px;
	
}

input[type=submit]:hover
{
	width: 100%;
	background-color: rgb(33, 218, 33);
	cursor:pointer;
}

.inputMsg
{
	height: 100px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}



.topnav 
{
	overflow: hidden;
	background-color: #cc0000;
}

.topnav a 
{
	float: left;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover 
{
	background-color: #ff4d4d;
	color: #f2f2f2;
}

.topnav a.active 
{
	background-color: #ff4d4d;
	color: #f2f2f2;
}

