@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/*Ici on définit la police d'écriture utilisée par défaut dans tout le fichier css*/
*{ 
font-family: 'Open Sans', sans-serif;
}

h1{
  color: rgb(88, 88, 88);
}

#mainTitle{
  text-align: center;
}

body {
    background:#FAFAFA;
  }
  

  header a .fa 
  {
    color: #111;
    font-size: 25px;
  }



  header 
  {
    z-index: 200; /*Permet de rendre visible partout la nav bar*/
    background: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
  }
  header a 
  {
    width: 16%;
    display: inline-block;
    margin-left: -10px;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    box-sizing: border-box;
    z-index: 20; 
  }

  /*Ici on définit on couleur différente pour chaque bouton quand la souris passe par dessus/ survole le bouton*/
  header a:hover .fa-heart-o
  {
      color: rgb(255, 0, 0);
  }

  header a h3
  {
    display: inline;
    margin: 10px;
    opacity: 0;
    right: 0;
    text-decoration: none;
    transition: 0.4s;
  }


  header a:hover >  h3 /*Edit the properties of search-txt class when hovering  the searchbox class */
  {
    opacity: 1;
    display: inline;
    color: gray;
    text-decoration: none;
    right: 0;
  }

  header a:hover .fa-search
  {
      color: rgb(0, 0, 255);
  }
  header a:hover .fa-home
  {
      color: rgb(121, 64, 0);
  }
  header a:hover .fa-user-o
  {
      color: rgba(0, 255, 136, 0.596);
  }

  .container
  {
    padding-top: 50px;
    top:50px;
    background: #FAFAFA;
    width: 100%;
    position: relative;
    bottom: 0;
  }

   .card
  {
    background: #fff;
    margin: 0 auto; /*Center l'élément "card" au centre du "container"*/
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 3px; /*On arrondit les bords*/
  }

   .card .card-header .profile-image
  {
    display: inline-block;
    background: red; /*On a une image rouge quand aucune image a été chargée ( si elle est chargée elle se met par dessus le cercle rouge)
    width: 40px;
    height: 40px;

    margin-right: 5px; /* On veut pas que le texte à droite de l'image soit trop collé à cette image, donc on décale vers la droite tous les autres éléments*/
    border-radius: 50%; /*Permet d'avoir un cercle avec l'image dedans au lieu d'un carré avec l'image dedans*/
    position: relative;
  }

   .card .card-header .profile-info
  {
    display: inline-block;
  }


   .card .card-header .profile-info .name
  {
    font-size: 20px;
  }

   .card .card-header .profile-info .location
  {
    font-weight: 700;
  }

   .card .card-header
  {
    padding: 15px; /*Empeche le header de "card" de coller contre le bord*/
    position: relative;
  }


  .date
  {
    float: right;
  }

.card-footer
{
  padding: 15px;
}


 .card-content img
  {
     height: 500px;
     width: 500px;
     overflow: auto ;
     
  }


  .card-content img:hover
  {
    filter: brightness(50%);
  }

.imageDescrText
{
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .card-content img:hover ~ .imageDescrText
  {
    display: block;
    color: white;
    letter-spacing: 2px;
    font-size: large;
  }

  .imageDescrText
  {
    display: none;
    color: white;
    letter-spacing: 2px;
    font-size: large;
  }
  .imageDescrText:hover ~ img
  {
    filter: brightness(50%);
  } 


  .description
  {
    margin-right: 20px;
  }

  .username
  {
    font-weight: 700;
    margin-right: 10px;
  }

  .icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .remove-post /* Bouton pour supprimer la "card" */
  {
    transition: 0.5s;
    border-radius: 50%;
    border: none;
    top: -10px; /* On décale vers le haut et vers la droite pour mettre le bouton dans le coin de la "card" */
    right: -10px;
    position: absolute;
  }



  button:focus
  {
    outline:0; /* Empêche d'avoir le contour bleu quand on clique sur le bouton*/
  }


  .remove-post:hover
  {
      background: black;
      color: white;
  }

.form
{
  margin : 5%;
}

.form input[type=text]{
	width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 30px;
  transition: 0.3s;
}
.form input[type=email]{
	width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
  padding-top: 30px;
  transition: 0.3s;
}

.form input[type=email]:hover{
  border: 2px solid #0078ff;
}

.form input[type=submit]:hover{
  border: 2px solid #0078ff;
}

.form input[type=text]:hover{
  border: 2px solid #0078ff;
}

.form textarea:hover{
  border: 2px solid #0078ff;
}


.form input[type=submit]{
  width: 100%;
	background-color: green;
  border: 1px solid #ccc;
	height: 30px;
}

.form textarea{
  padding: 12px 20px;
  margin: 8px 0;
  border:none;
  border-radius: 4px;
box-sizing: border-box;
padding-top: 30px;

}


.form input[type=submit]:hover
{
	width: 100%;
	background-color: rgb(33, 218, 33);
	cursor:pointer;
}

.form .inputMsg
{
	height: 100px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}


footer .mainDiv{
  z-index: 200;
  margin-top: 20px;
  background-color: #FAFAFA;
border-top: 1px solid #ccc;
border-radius:1px; 
}



.footerLeft{
  width: 50%;
  display: inline-block;
  margin-left: -10px;
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
  z-index: 20;
  border: none;
  vertical-align: top;
}

.footerRight{
  width: 50%;
  display: inline-block;
  margin-left: -10px;
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
  z-index: 20;
  border: none;
}

.footerRight li{
  display: inline;
}

.mainDiv h3{
  color:rgb(71, 71, 71);
}

.mainDiv a:hover{
color: black;
transition: 0.3s;
font-weight: bold;
}

.mainDiv a{
  color: rgb(109, 109, 109);
  text-decoration: none;
}

.mainDiv button{
  border: none;
  width: 30px;
  height: 30px;
}

.mainDiv button:hover{
  border: none;
  color: white;
  background: black;
  cursor: pointer;
  width: 30px;
  height: 30px;
}


.form h1
{
  color: rgb(56, 56, 56);
}

.form input{

  padding: 0;
  border: none;
  outline: none;
  color: rgb(5, 4, 4);
  transition: 0.4s;
  width: 0px;
  background: none;
}

.leftProfileMenu{
  border: #111 1px solid;
  margin: 5%;
  border-radius: 4px;
  width: 20%;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

.butDiv {
  margin: 1vw;
}



.butDiv button{
  border: none;
  height: 40px;
  transition: 0.3s;
}

.butDiv button:hover{
  background-color: black;
  color: white;
  width: auto;
}

#createCard{
  display: none;
}

#createCard input{
width: 250px;
}


#iframeDelPosts{
  margin: 20px;
  padding: 20px;
  width:60%;
  display: none;
}

.listImg{
  height: 60px;
  width: 60px;
}

.undottedLi{
  list-style-type: none;
}

#fs
{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}

ul
{
  display: block;
  list-style-type: none;
}


.carousel-item img{
width: auto;
height: 500px; 
max-height: 500px; 
}

.butDiv-container:hover{
background-color: #ebebeb;
}