body 
{
	margin:0;
	padding:0;
	background:url("http://www.free-largeimages.com/wp-	content/uploads/2014/11/Canada_flag-5.png") no-repeat 	center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.topnav 
{
	overflow: hidden;
	background-color: #cc0000;
}

.topnav a 
{
	float: left;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover 
{
	background-color: #ff4d4d;
	color: #f2f2f2;
}

.topnav a.active 
{
	background-color: #ff4d4d;
	color: #f2f2f2;
}
